doctype html
html(lang="en")
  include ./partials/_head.jade
  
  body
    include ./partials/_header.jade
    include ./partials/_form.jade
    .bounds.app--body
      include ./partials/_app-section-header.jade
