doctype html
html(lang="en")
  include ./partials/_head.pug

  body
  include ./partials/_header.pug
  include ./partials/_form.pug

  .bounds.app--body
    include ./partials/_bodyHeadingSection.pug
    include ./partials/_timeline.pug
    include ./partials/_following.pug
