.app--section--header
  .grid-33
    .app--section--heading
      h2 Your Timeline

  .grid-33
    .app--section--heading
      strong= profilData.followersCount
      h2 Following

  .grid-33
    .app--section--heading
      h2 Direct Messages Received
