div.app--tweet
    form(method='post' action='/')
        div.circle--fluid
            div.circle--fluid--cell.circle--fluid--primary.align-bottom.app--tweet--post
                div.app--avatar(style='background-image: url(' + profilData.profilPicture + ')')
                    img(src=profilData.profilPicture)
                textarea.circle--textarea--input#tweet-textarea(name='tweet' placeholder="What's happening?")
                strong.app--tweet--char#tweet-char 140
            div.circle--fluid--cell.align-bottom
                button.button-primary(type='submit') Tweet
